/* You can add global styles to this file, and also import other style files */
@import './app/material-theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body {
    margin: 0;
    height: 100%;
  }

  .success-snackbar {
    background:rgb(0,173,72);
  }
  .error-snackbar {
    background:rgb(173,35,0);
  }
  @media only screen and (max-width: 600px)  {
    html {
      font-size: 80%;
    }
  }
  