<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button *ngIf="authService.Islogin()" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="warn">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img src="../../../assets/opa.png"></span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>public</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="switchLang(language)" *ngFor="let language of translate.getLangs()" mat-menu-item>
          <mat-icon>emoji_flags</mat-icon>
          <span>{{language}}</span>
        </button>
       
      </mat-menu>
      
      
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container  class="example-container">
    <mat-sidenav *ngIf="authService.Islogin()" #drawer mode="over" opened role="navigation">
      <mat-nav-list>
        
        <a *ngFor="let navItem of navigationMenu"
        mat-list-item
        mat-ripple
        [style.position]="'relative'"
        routerLinkActive="selected"
        [routerLink]="['/'+navItem.path]">
         <!--<md-icon *ngIf="navItem.icon">{{navItem.icon}}</md-icon>-->
         <span>{{navItem.text}}</span>
     </a>
        <a  mat-list-item routerLink='/first'>First Component</a>
        <a mat-list-item routerLink='/second'>Second Component</a>
        <a *ngIf="!authService.Islogin()" mat-list-item routerLink='/login'>Login</a>
        <a *ngIf="authService.Islogin()" (click)="!!logOut()" mat-list-item [routerLink]="" >Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  