<mat-toolbar color="primary" role="toolbar" class="task-header">
    <h2 mat-dialog-title>{{data.Title}}</h2>
    <span class="fx-spacer"></span>
    <button mat-icon-button  (click)="close()">
        <mat-icon mat-list-icon>close</mat-icon>
    </button>
</mat-toolbar>
<div mat-dialog-content style="height: calc(100% - 110px);max-height: unset;padding-top: 3%;">    
    <mat-dialog-content class="mat-typography">
        <div class="mat-dialog-content-body">
            {{data.Content}}
        </div>
    
    
    </mat-dialog-content>
  </div>



    
<mat-dialog-actions>
    <button *ngIf="data.ShowCancelButton" color="primary" class="mat-raised-button"
        (click)="close()">{{data.CancelButtonText}}</button>
    <button *ngIf="data.ShowConfirmButton" class="mat-raised-button mat-primary"
        (click)="save()">{{data.ConfirmButtonText}}</button>
</mat-dialog-actions>
