<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>RESET YOUR PASSWORD</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="resetForm" class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your new password</mat-label>
                    <input matInput [type]="pswHide ? 'password' : 'text'" 
                    formControlName="password"  name="password" required>
                    <button mat-icon-button matSuffix (click)="pswHide = !pswHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pswHide">
                    <mat-icon>{{pswHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="f.password.touched && f.password.invalid && f.password.errors.required"   > Password is mandatory.               </mat-error>

                  </mat-form-field>

            </td>
          </tr>
          <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" 
                    formControlName="confirm_password"  name="confirm_password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    <mat-error *ngIf="f.confirm_password.touched && f.confirm_password.invalid && f.confirm_password.errors.required"   >Confirm Password is mandatory.               </mat-error>
                    <mat-error *ngIf="f.confirm_password.touched && f.confirm_password.invalid && f.confirm_password.errors.confirmedValidator"   > Password and Confirm Password must be match.             </mat-error>

                    <!-- <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                        <div *ngIf="f.password.errors.required">Password is required.</div>
                    </div> -->

                    <!-- <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                        <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
                        <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                    </div> -->
                  </mat-form-field>

            </td>
          </tr>


       

        
      
      </table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        
      <button [disabled]="!resetForm.valid"   mat-raised-button (click)="onSubmit()" color="primary">Submit</button>
    </mat-card-actions>
  </mat-card>



  