<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>RECOVER YOUR PASSWORD</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="forgotPswForm" class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" formControlName="email"  name="email" required>
              <mat-error *ngIf="f.email.touched && f.email.invalid && f.email.errors.required"   > Email is mandatory.               </mat-error>
              <mat-error *ngIf="f.email.touched && f.email.invalid && f.email.errors.email"   > Please provide a valid email            </mat-error>

              </mat-form-field>
            </td>
          </tr>
         
    
    </table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        
      <button [disabled]="!forgotPswForm.valid"   mat-raised-button (click)="onSubmit()" color="primary"> SEND RESET LINK </button>
      <button   mat-raised-button routerLink='/login' color="primary"> Go back to login </button>
    </mat-card-actions>
  </mat-card>



  